In [1]:
#-----------------  LISTS  ------------

In [2]:
# Create a list
lambda_list = ['node', 'react', 'python', 'html', 'knex', 'sql']

In [3]:
# Access list items
lambda_list[2]

'python'

In [4]:
# Change the value of a list item
lambda_list[4]= 'css'
lambda_list

['node', 'react', 'python', 'html', 'css', 'sql']

In [5]:
# Loop through a list
for i in lambda_list:
    print(i)

node
react
python
html
css
sql

In [6]:
for i in range(len(lambda_list)):
    print(lambda_list[i])

node
react
python
html
css
sql

In [7]:
for i in range(len(lambda_list)):
#     print( str(i)+ ': '+ lambda_list[i])
    print(f'{i}: {lambda_list[i]}')

0: node
1: react
2: python
3: html
4: css
5: sql

In [8]:
# enumerate(list) returns tuples of index and value
for i in enumerate(lambda_list):
    print(i)

(0, 'node')
(1, 'react')
(2, 'python')
(3, 'html')
(4, 'css')
(5, 'sql')

In [9]:
for i,v in enumerate(lambda_list):
    print(f'{i}: {v}')

0: node
1: react
2: python
3: html
4: css
5: sql

In [10]:
for i in lambda_list:
    if(i == 'html'):
        print('in the list')

in the list

In [11]:
lambda_list.append('new value appended')
lambda_list.insert(0, 'i was inserted')
lambda_list

['i was inserted',
 'node',
 'react',
 'python',
 'html',
 'css',
 'sql',
 'new value appended']

In [12]:
# Check if a list item exists
def check_list(list_name, value_to_check):
    for i in list_name:
        if(i == value_to_check):
            print('in the list')
            
        else:
            print('Not here!')

In [13]:
check_list(lambda_list, 'html')

Not here!
Not here!
Not here!
Not here!
in the list
Not here!
Not here!
Not here!

In [14]:
def check_list(list_name, value_to_check):
    if value_to_check  in list_name:
        print('in the list')
    else:
        print('Not here!')

In [15]:
check_list(lambda_list, 'html')

in the list

In [16]:
# Get the length of a list
len(lambda_list)

8

In [17]:
# Add an item to the end of a list
lambda_list.append('add item to the end')

In [18]:
lambda_list

['i was inserted',
 'node',
 'react',
 'python',
 'html',
 'css',
 'sql',
 'new value appended',
 'add item to the end']

In [19]:
# Add an item at a specified index
lambda_list.insert(5, 'Add an item at a specified index')

In [20]:
lambda_list

['i was inserted',
 'node',
 'react',
 'python',
 'html',
 'Add an item at a specified index',
 'css',
 'sql',
 'new value appended',
 'add item to the end']

In [21]:
# Remove an item
lambda_list.pop(3)
lambda_list

['i was inserted',
 'node',
 'react',
 'html',
 'Add an item at a specified index',
 'css',
 'sql',
 'new value appended',
 'add item to the end']

In [22]:
# Remove an item at a specified index
del lambda_list[1]

In [23]:
lambda_list

['i was inserted',
 'react',
 'html',
 'Add an item at a specified index',
 'css',
 'sql',
 'new value appended',
 'add item to the end']

In [24]:
lambda_list.remove('css')
lambda_list

['i was inserted',
 'react',
 'html',
 'Add an item at a specified index',
 'sql',
 'new value appended',
 'add item to the end']

In [25]:
# Empty a list
lambda_list = []

In [26]:
lambda_list

[]

In [27]:
# Use the list() constructor to make a list
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# ---------------- Dictionaries -----------

In [29]:
# Create a dictionary
d ={
    'goats':12,
    'horses':4
}
# Add an item to a dictionary
d['cow'] = 5
print(d)

{'goats': 12, 'horses': 4, 'cow': 5}

In [30]:
# Access the items of a dictionary
print(d['cow'])

5

In [31]:
for i in d:
    print (i)

goats
horses
cow

In [32]:
for i in d:
    print (f'{i}: {d[i]}')

goats: 12
horses: 4
cow: 5

In [33]:
# Loop through both keys and values, by using the items() function
for k, v  in d.items():
    print (f' key: {k},  value: {v}')

 key: goats,  value: 12
 key: horses,  value: 4
 key: cow,  value: 5

In [34]:
# Print all key names in a dictionary, one by one
for x in d.keys():
    print (x)

goats
horses
cow

In [35]:
# Print all values in a dictionary, one by one
print(d['goats'])
print(d['horses'])
print(d['cow'])

12
4
5

In [36]:
# Use the values() function to return values of a dictionary
for x in d.values():
    print (x)

12
4
5

In [37]:
# Check if a key exists
if 'cows' in d:
    print("key present")
else:
    print("not here")

not here

In [38]:
if 'cow' in d:
    print("key present")
else:
    print("not here")

key present

In [39]:
# Get the length of a dictionary
print(len(d))

3

In [40]:
# Change the value of a specific item in a dictionary
d['cow']=100
print(d)

{'goats': 12, 'horses': 4, 'cow': 100}

In [41]:
# Remove an item from a dictionary
del d ['cow']
print(d)

{'goats': 12, 'horses': 4}

In [42]:
# Empty a dictionary
d={}
print(d)

{}

In [43]:
# Use the dict() constructor to create a dictionary
new_dictionary = dict()
print(new_dictionary)

{}

In [44]:
new_dictionary["one"]="uno"
new_dictionary["two"]= "dos"
new_dictionary["three"]= "tres"
print(new_dictionary)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [45]:
# --------------       Tuples      -------------

In [46]:
# Create a tuple
mytuple=("one","two","orange",4.3, 5555, 6999)

In [47]:
# Access tuple items by index
print(mytuple[2])

orange

In [48]:
# Access tuple items by index value to find index
mytuple.index("orange")

2

In [49]:
# Change tuple values
# CAN'T CHANGE, THEY ARE IMMUTABLE

In [50]:
# Loop through a tuple
for x in mytuple:
    print(x)

one
two
orange
4.3
5555
6999

In [51]:
# Check if a tuple item exists
def chek_tuple(value):
    if value in mytuple:
        print("here")
    else:
        print("not here")
chek_tuple("value")
chek_tuple("one")

not here
here

In [52]:
# Get the length of a tuple
print(len(mytuple))

6

In [53]:
# Delete a tuple
mytuple =()
print(mytuple)

()

In [54]:
print(mytuple)

()

In [55]:
# Use the tuple() constructor to create a tuple
new_tuple = tuple()
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
new_tuple = new_tuple+(99,33)

In [56]:
print(new_tuple)

(99, 33)

In [57]:
# adding items in a specific index
new_tuple = new_tuple[:2] + (15, 20, 25)
print(new_tuple)

(99, 33, 15, 20, 25)

In [58]:
#converting the tuple to list
listx = list(new_tuple) 
#use different ways to add items in list
listx.append(30)
new_tuple = tuple(listx)
print(new_tuple)

(99, 33, 15, 20, 25, 30)

In [59]:
# ------------------      Sets         -----------------------








# Use the set() constructor to create a set

In [60]:
# Create a set
myset={'one', "two","three"}
print(myset)

{'three', 'two', 'one'}

In [61]:
# Loop through a set
for x in myset:
    print(x)

three
two
one

In [62]:
# Check if an item exists
def check_set(set_value):
    if set_value in myset:
        print("value present")
    else:
        print("value not present")
check_set(1)
check_set("one")

value not present
value present

In [63]:
# Add an item to a set
myset.add("five")
print(myset)

{'three', 'two', 'one', 'five'}

In [64]:
# Add tuple to a set
myset.add(("four", "six","seven"))
print(myset)

{'three', 'one', ('four', 'six', 'seven'), 'two', 'five'}

In [65]:
# Get the length of a set
print(len(myset))

5

In [66]:
# Remove an item in a set
myset.remove("one")
print(myset)

{'three', ('four', 'six', 'seven'), 'two', 'five'}

In [71]:
# Remove an item in a set by using the discard() method
myset.discard("two")
print(myset)

{'three', ('four', 'six', 'seven'), 'five'}

In [72]:
# Remove the last item in a set by using the pop() method
myset.pop()
print(myset)

{('four', 'six', 'seven'), 'five'}

In [73]:
# Empty a set
myset={}
print(myset)

{}

In [74]:
# Delete a set
newset={1,2,3,45,67,8}
newset.clear()
print(newset)

set()

In [76]:
# Use the set() constructor to create a set
set_new = set(("f","u","c","k"))
print(set_new)

{'u', 'f', 'k', 'c'}